*{
    margin: 0;
    padding: 0;
}

.headerStyle {
    background-color: purple;
    color: white;
    padding: 15px;
    margin: 10px;
    font-size: 3rem;
    text-align: center
}

.card{
    background: #e4e2dd;
    box-shadow: 2px 4px 4px gray;
    border-radius: 10 px;
    margin: 10px;
    padding: 10px;
    width: 390px;
    display: inline-block;
}

.cardItemPic{
    width: 100%;
    height: 200px;
}

.cardTitle{
    text-align: center;
    margin-bottom: 5px;
}

.cardDescription{
    text-align: justify;
    text-align: center;
    margin-bottom: 5px;
}

.cardFooter{
    text-align: center;
    font-weight: bold;
}

#social_icons {
    padding: .5em;
    line-height: 1.22;
    float:left;
    vertical-align:bottom;
}

.icon_text{
    text-align: justify;
    text-align: center;
    margin-inline-start: 5px;
    display: inline-block;
    vertical-align:middle;
}

.icon_div{
    text-align: justify;
    text-align: center;
    margin-bottom: 5px;
}